<form (ngSubmit)="onSubmit()">
  <div>
    <p>
      <label for="initial-investment">Initial Investment</label>
      <input
        id="initial-investment"
        name="initial-investment"
        type="number"
        [(ngModel)]="inputInitialInvestment"
      />
    </p>
    <p>
      <label for="annual-investment">Annual Investment</label>
      <input
        id="annual-investment"
        name="annual-investment"
        type="number"
        [(ngModel)]="inputAnnualInvestment"
      />
    </p>
    <p>
      <label for="expected-return">Expected Return</label>
      <input
        id="expected-return"
        name="expected-return"
        type="number"
        [(ngModel)]="inputExpectedReturn"
      />
    </p>
    <p>
      <label for="duration">Duration</label>
      <input
        id="duration"
        name="duration"
        type="number"
        [(ngModel)]="inputDuration"
      />
    </p>
    <p>
      <button>Calculate</button>
    </p>
  </div>
</form>
