<p-menubar [model]="menuItems()" [style]="{ border: 'none', borderRadius: '0' }"
  ><ng-template pTemplate="start"
    ><div class="icon">
      <span class="text1">STOCK</span><span class="text2">LENS</span>
    </div></ng-template
  ></p-menubar
>

<p-sidebar
  [(visible)]="sidebarVisible"
  position="right"
  [style]="{ width: 'auto' }"
>
  <ng-template pTemplate="header">
    @if (!savedArticles.length) {
    <h3>No saved articles</h3>
    } @else {
    <h3>Saved articles</h3>
    }
  </ng-template>
  <!-- Content for  sidebar -->

  @if (savedArticles().length) { @for (article of savedArticles(); track $index)
  {
  <app-thumbnail-article
    [title]="article.title"
    [description]="article.description"
    [url]="article.url"
    [imageUrl]="article.imageUrl"
  ></app-thumbnail-article>
  } }
</p-sidebar>
