.containerNews {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.graphComponent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
