<!-- loading -->
@if (loading) {
<main class="notFound-container">
  <h1 class="p-text-primary notFound-container-h1">Loading...</h1>
</main>

<!-- error -->
} @if (errorMessage) {
<main class="notFound-container">
  <h1 class="p-text-primary notFound-container-h1">{{ errorMessage }}</h1>
  <a routerLink="/" class="p-button font-bold">Return to Home</a>
</main>
}

<!-- data found -->
@if (data) {
<header class="header">
  <h1 class="p-text-primary">{{ data.results.name }}</h1>
  <app-button-save-link
    [text]="tickerName()"
    [url]="tickerName()"
  ></app-button-save-link>
</header>

<main>
  @if (data1.length && dataXaxis.length) {
  <p-card>
    <app-graph
      class="graphComponent"
      [data1]="data1"
      [data2]="data2"
      [dataXaxis]="dataXaxis"
      [dataName1]="nameTicker1"
      [dataName2]="nameTicker2"
      (durationChanged)="onDurationChanged($event)"
    ></app-graph
  ></p-card>

  <p-card header="Compare with an other ticker">
    <app-search-bar (checkEnteredText)="submitInput($event)"></app-search-bar>
    <p class="p-text-secondary">
      Having trouble finding your ticker? You can check out
      <a target="_blank" href="https://stockanalysis.com/stocks/">this link</a>
      for a complete list of U.S. stocks. Please note, the website you're
      viewing only displays U.S. stocks.
    </p></p-card
  >
  }
  <p-card>
    @if (data.results.name) {
    <p><strong>Name:</strong> {{ data.results.name }}</p>
    } @if (data.results.ticker) {
    <p><strong>Ticker:</strong> {{ data.results.ticker }}</p>
    } @if (data.results.market) {
    <p><strong>Market:</strong> {{ data.results.market }}</p>
    } @if (data.results.description) {
    <p><strong>Description:</strong> {{ data.results.description }}</p>
    } @if (data.results.homepage_url) {
    <p>
      <strong>Homepage:</strong>
      <a [href]="data.results.homepage_url" target="_blank">
        {{ data.results.homepage_url }}
      </a>
    </p>
    }
  </p-card>

  @if (dataArticle().length) {
  <div class="containerNews">
    @for (item of dataArticle(); track $index) {
    <app-thumbnail-article
      [title]="item.title"
      [imageUrl]="item.image_url"
      [url]="item.url"
      [description]="item.description"
    ></app-thumbnail-article>
    }
  </div>
  }
</main>
}
