<!-- loading -->
@if (loading) {
<main class="notFound-container">
  <h1 class="p-text-primary notFound-container-h1">Loading...</h1>
</main>

<!-- error -->
} @if (errorMessage) {
<main class="notFound-container">
  <h1 class="p-text-primary notFound-container-h1">{{ errorMessage }}</h1>
  <a routerLink="/" class="p-button font-bold">Return to Home</a>
</main>
}

<!-- data found -->
@if (data) {
<header class="header">
  <h1 class="p-text-primary">{{ data.results.name }}</h1>
  <app-button-save-link
    [text]="tickerName()"
    [url]="tickerName()"
  ></app-button-save-link>
</header>

<main>
  @if (data1.length && dataXaxis.length) {
  <p-card class="chart-card">
    <app-graph
      class="graphComponent"
      [data1]="data1"
      [data2]="data2"
      [dataXaxis]="dataXaxis"
      [dataName1]="nameTicker1"
      [dataName2]="nameTicker2"
      (durationChanged)="onDurationChanged($event)"
    ></app-graph>
  </p-card>

  <p-card class="compare-card" header="Compare with another ticker">
    <div class="containerTickers">
      <app-search-bar (checkEnteredText)="submitInput($event)"></app-search-bar>
      <div class="my-3 w-full flex">
        @if (filteredFavoriteTickers().length > 0) { @for (ticker of
        filteredFavoriteTickers(); track $index) {
        <p-button [rounded]="true" (click)="selectFavoriteTicker(ticker)">
          {{ ticker }}
        </p-button>
        } } @else { @if (tickerName() !== 'AAPL') {
        <p-button [rounded]="true" (click)="selectFavoriteTicker('AAPL')"
          >AAPL</p-button
        >
        } @if (tickerName() !== 'MSFT') {
        <p-button [rounded]="true" (click)="selectFavoriteTicker('MSFT')"
          >MSFT</p-button
        >
        } @if (tickerName() !== 'NVDA') {
        <p-button [rounded]="true" (click)="selectFavoriteTicker('NVDA')"
          >NVDA</p-button
        >
        } @if (tickerName() !== 'GOOGL') {
        <p-button [rounded]="true" (click)="selectFavoriteTicker('GOOGL')"
          >GOOGL</p-button
        >
        } }
      </div>
    </div>
    <span class="p-text-secondary">
      Check out
      <a target="_blank" href="https://stockanalysis.com/stocks/">this link</a>
      for a complete list of U.S. stocks.
    </span>
  </p-card>
  }

  <app-ticker-info [data]="data"></app-ticker-info>
  <app-news-container [ticker]="tickerName()"></app-news-container>
</main>
}
