<a [routerLink]="['']">Return Home</a>
@if (data1.length && dataXaxis.length) {
<app-graph [data1]="data1" [data2]="data2" [dataXaxis]="dataXaxis"></app-graph>
<app-search-bar (checkEnteredText)="submitInput($event)"></app-search-bar>
} @if (!data) {
<h1>LOADING...</h1>
} @else {
<p><strong>Ticker:</strong> {{ data.results.ticker }}</p>
<p><strong>Market:</strong> {{ data.results.market }}</p>
<p><strong>Description:</strong> {{ data.results.description }}</p>
<p>
  <strong>Homepage:</strong>
  <a [href]="data.results.homepage_url" target="_blank">{{
    data.results.homepage_url
  }}</a>
</p>
}
