<app-search-bar (checkEnteredText)="checkInput($event)"></app-search-bar> @if
(searchBarError) {
<p>THIS TICKER DOES NOT EXIST</p>
}

<p-card
  header="Most important US stocks"
  [style]="{ marginTop: '1rem', marginBottom: '1rem' }"
>
  <div class="tickers-container">
    @for (item of tickers; track $index) {
    <app-button-save-link [url]="item" [text]="item"></app-button-save-link>
    }
  </div>
</p-card>

<h2>News related to finance</h2>
<div class="containerNews">
  @if (dataNews().length) { @for (item of dataNews(); track $index) {
  <app-thumbnail-article
    [title]="item.title"
    [imageUrl]="item.urlToImage"
    [url]="item.url"
    [description]="item.description"
  />

  } }
</div>
