<a class="card flex justify-content-center" href="{{ url() }}" target="_blank">
  <p-card
    header="{{ title() }}"
    [style]="{ width: '360px', marginTop: '1rem' }"
  >
    <ng-template pTemplate="header">
      <div class="img-container">
        <img alt="Card" ngSrc="{{ imageUrl() }}" fill class="img" />
      </div>
    </ng-template>
    <p>{{ description() }}</p>
    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
        <p-button
          [label]="isSaved() ? 'Saved' : 'Save'"
          class="w-full"
          styleClass="w-full"
          (click)="handleSaveClick($event)"
          [outlined]="isSaved() ? 'false' : 'true'"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</a>
